.App {
  box-sizing: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url(../src/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
}

h1 {
  color: antiquewhite;
  text-align: center;
}

h2 {
  display: flex;
  text-align: center;
  text-decoration: underline;
}

.titulo-planetas {
  text-align: center;

}

.titulo-missoes {
  text-align: center;
}

.title {
  font-size: 50px;
  font-style: oblique;
  text-align: center;
}

.planet-name {
  text-align: center;
}

.planets {
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
}

.imgsize {
  width: 65%;
}

.mission-card {
  align-items: center;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: medium;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.div-cards {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 100px;
  width: 80%;
}

.card-name {
  text-decoration: underline;
}
