.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url(../src/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.titulo-planetas {
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid antiquewhite;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

.planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.planet-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planet-card img {
  width: 100px;
}

.planet-card p {
  text-align: center;
}

.mission-card {
  border: 1px solid antiquewhite;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
}

.div-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-name {
  border-bottom: 1px solid antiquewhite;
}
